#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* oranges
#EF9801
#EB5924
#E61D2A

red 
#be1e2d

yellow
#ffde17

black/:-moz-only-whitespace

blue 
#21409a */

.bauhaus-art-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(auto-fill, 80px);
  grid-template-columns: 100px;
  z-index: 5;
  border-right: 2px solid black;
}

/* Example shapes */
.shape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-circle {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  margin: auto;
  opacity: 90%;
}

.orange-circle {
  position: absolute;
  top: 115px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  margin: auto;
  opacity: 80%;
}

.yellow-circle {
  position: absolute;
  top: 130px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: yellow;
  border-radius: 50%;
  margin: auto;
  opacity: 70%;
}

.blue-line {
  position: absolute;
  top: 500px;
  left: 2px;
  width: 28px;
  height: 30px;
  background: blue;
  box-shadow: rgb(144, 143, 143) 5px 10px 0px;
  z-index: 3
}

.black-line {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 1px;
  height: 350px;
  background: black;
  z-index: 2;
}

.long-black-line {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 1px;
  height: 340px;
  background: black;
  z-index: 2;
}

.black-rect {
  position: absolute;
  top: 420px;
  left: 70px;
  width: 10px;
  height: 180px;
  background: black;
  opacity: 90%;
  box-shadow: rgb(144, 143, 143) 5px 5px 0px;
  z-index: 6;
}

.md-black-line {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 5px;
  height: 400px;
  background: black;
  z-index: 8;
}

.lower-black-line {
  position: absolute;
  top: 400px;
  left: 40px;
  width: 1px;
  height: 200px;
  background: black;
  z-index: 6;
}

.horizontal-black-line {
  position: absolute;
  top: 400px;
  left: 40px;
  width: 50px;
  height: 10px;
  background: black;
  z-index: 10;
}

.red-rect {
  position: absolute;
  top: 380px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: red;
  box-shadow: rgb(144, 143, 143) 4px 4px 0px;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 100px; /* account for sidebar width */
  right: 0;
  height: 65px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  z-index: 9; /* lower than sidebar if needed */
}

.top-navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.top-black-circle {
  position: absolute;
  top: 2px;
  left: 1040px;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  margin: auto;
  opacity: 90%;
}

.top-orange-circle {
  position: absolute;
  top: 2px;
  left: 1020px;
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  margin: auto;
  opacity: 80%;
}

.top-yellow-circle {
  position: absolute;
  top: 2px;
  left: 1000px;
  width: 60px;
  height: 60px;
  background: yellow;
  border-radius: 50%;
  margin: auto;
  opacity: 70%;
}

.horizontal-thin-black-line-one {
  position: absolute;
  top: 300px;
  left: 10px;
  width: 80px;
  height: 1px;
  background: black;
  z-index: 10;
}

.horizontal-thin-black-line-two {
  position: absolute;
  top: 295px;
  left: 10px;
  width: 60px;
  height: 1px;
  background: black;
  z-index: 10;
}

.horizontal-thin-black-line-three {
  position: absolute;
  top: 305px;
  left: 30px;
  width: 60px;
  height: 1px;
  background: black;
  z-index: 10;
}

.top-horizontal-lack-line-one {
  position: absolute;
  top: 5px;
  left: 1000px;
  width: 1px;
  height: 50px;
  background: black;
  z-index: 2;
}

.top-horizontal-lack-line-two {
  position: absolute;
  top: 5px;
  left: 16px;
  width: 985px;
  height: 1px;
  background: black;
  z-index: 2;
}

.top-horizontal-lack-line-three {
  position: absolute;
  top: 5px;
  left: 996px;
  width: 1px;
  height: 44px;
  background: black;
  z-index: 2;
}